.Main{
    position: relative;
    top: 0;
 bottom: 0;
 align-items: center;
background-color: green;
width: 100vw;
height: 600px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;

margin: 0;

}