.Main{
    position: relative;
  
 align-items: center;
background-color: rgb(29, 29, 29);
width: 100vw;
box-sizing: border-box;
height: 100vh;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 10px;

}
@media  screen and (max-width:480px) {
    .Main{
        height: auto;
     padding-bottom: 100px;
     
    }
    
}